header {
    background-color: #6a0dad;
    color: white;
    text-align: center;
    padding: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 200px;
    background-color: #800080;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid #4b004b;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #4b004b;
    color: #fff;
}

li a:not(.active) {
    background-color: #800080;
    color: white;
}


body {
    margin-left: 220px;
    font-family: Arial, sans-serif;
    background-color: #f5e6ff;
    color: #1a001a;
}

/*footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6a0dad;
    color: white;
    text-align: center;
    padding: 10px 0;
}
*/

footer {
    background-color: #6a0dad;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    left: 200px;
    width: calc(100% - 200px);
    max-height: 80px;  /* allow some extra height */
    overflow: auto;    /* scroll if content exceeds height */
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    padding: 10px;
}

.flex-container > div {
    border: 2px solid #800080;
    background-color: #dab6fc;
    border-radius: 10px;
    padding: 15px;
    flex: 1;
    text-align: center;
}

@media screen and (max-width: 600px){
    .flex-container {
        flex-direction: column;
    }
}

.container {
    display: flex;
    background-color: #6a0dad;
}

.container div {
    background-color: #dab6fc;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border-radius: 10px;
    border: 2px solid #800080;
}

.content-box {
    background-color: #dab6fc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #800080;
}

.page-content {
    margin-left: 220px;
    padding: 20px;
}

.content-box ul {
    padding-left: 20px;
}

.content-box li {
    margin-bottom: 20px;
}

ul li {
    border-right: 2px solid #4b004b;
    transition: background-color 0.3s, border-color 0.3s;
}

ul li:last-child {
    border-right: none;
}

ul li:hover {
    background-color: #5a005a;
    border-right: 2px solid #dab6fc;
    color: #fff;
}

.header-logo {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 8px;
}

.page-content {
    margin-left: 200px;
    padding: 80px 20px 70px 20px; /* bottom padding = footer height */
}